[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.4.4"

[packages]
chardet = "==3.0.4"
tabula-py = "==1.4.1"
rows = {extras = ["pdf"],version = "==0.4.1"}

[requires]
python_version = "3.7"
