[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pdfminer-six = "==20181108"
chardet = "*"
tabula-py = "*"
flask = "==1.1.1"
flask-restful = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
