-i https://pypi.org/simple
chardet==3.0.4
click==7.0
distro==1.4.0
flask-cors==3.0.8
flask==1.1.1
itsdangerous==1.1.0
jinja2==2.10.3
markupsafe==1.1.1
numpy==1.17.4
pandas==0.25.3
pdfminer-six==20181108
pycryptodome==3.9.4
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
sortedcontainers==2.1.0
tabula-py==1.4.1
werkzeug==0.16.0
