-i https://pypi.org/simple/
attrs==20.3.0
chardet==3.0.4
click==7.1.2
flask-cors==3.0.8
flask==1.1.1
importlib-metadata==4.0.0 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.4.1
six==1.15.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
wcwidth==0.2.5
werkzeug==1.0.1
xlrd==1.1.0
zipp==3.4.1
